@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sloth</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/apple-touch-icon-152x152-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="~/images/apple-touch-icon-72x72-precomposed.png">

    <!-- For Windows 8: -->
    <meta name="msapplication-TileImage" content=“~/images/pinned.png”>
    <meta name="msapplication-TileColor" content="#ef0303”>

    <!-- For Opera Coast: -->
    <link rel="icon" href="~/images/favicon-coast.png" sizes="228x228">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a class="mdl-layout-title" href="@Url.Action("Index", "Home")">
                <img src="~/images/sloth.svg" alt="Sloth">
            </a>
            <a class="mdl-layout-title" href="@Url.Action("Index", "Home")">Sloth</a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @Html.Partial("_Commands")
            </nav>
            @*<nav class="mdl-navigation">
                @Html.Partial("_LoginPartial")
            </nav>*@
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only" aria-hidden="true">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            @Html.Partial("_Commands")
            @Html.Partial("_LoginPartial")
            <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            @RenderBody()
        </div>
    </main>

    <dialog class="mdl-dialog mdl-dialog--large">
        <div style="display: flex;justify-content: space-between;">
            <h6 class="mdl-dialog__title">Templates</h6>
            <button type="button" class="mdl-button close"><i class="material-icons">close</i></button>
        </div>

        <div class="mdl-dialog__content">
            <p>Please load a Word template for your report</p>
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="WordTemplate">
                <label class="mdl-button mdl-js-button">
                    <i class="material-icons">backup</i>
                    <span class="">Word</span>
                    <input type="file" name="file" style="display: none;" onchange="this.form.submit()" />
                </label>
            </form>
        </div>
        @*<div class="mdl-dialog__content">
            <p>Please load an Excel template for your report</p>
        </div>*@
    </dialog>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/material-design-lite/material.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("Scripts", required: false)
</body>
</html>
