@model IEnumerable<Sloth.Models.DisplayTopic>

@{
    ViewData["Title"] = "Home";
}

@if (Model == null || Model.Count() == 0)
{
    <script>
        var modelcount = 0;
    </script>
}
else
{
    <script>
                var modelcount = @Html.Raw(Model.Count());
    </script>
}


<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout">
    <div class="mdl-layout__content">

        @if (Model == null || Model.Count() == 0)
        {
            <div class="mdl-grid center-items">
                <div class="mdl-cell mdl-cell--8-col mdl-shadow--2dp">
                    <div class="mdl-grid center-items">
                        <div class="mdl-cell mdl-cell--12-col ">
                            <h1 class="mdl-typography--text-center mdl-typography--display-1-color-contrast">
                                Hello, and welcome to Sloth, the online BCF reports generator !
                            </h1>
                            <p class="mdl-typography--text-center mdl-typography--body-2-color-contrast">
                                To get started, please upload a BCF file.
                            </p>
                            <p class="mdl-typography--text-center mdl-typography--body-2-color-contrast mdl-color-text--red">@ViewData["error"]</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="mdl-grid">
                @foreach (var item in Model)
                {
                    <div class="mdl-card mdl-shadow--2dp mdl-cell demo-card-image">
                        <div class="demo-card-image mdl-card" style="background: url('@item.ImageSource') center / cover">
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="demo-card-image__caption">
                                <span class="demo-card-image__filename">@item.Title</span>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>By @item.CreationAuthor</p>
                            <p>@item.CreationDate</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <div id="export-snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

</div>





